<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>
    {{email}}
  </p>
</div>
<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit recusandae non adipisci. Est alias optio
    aperiam consectetur, aliquid voluptates provident enim ratione velit harum aspernatur illum. Saepe, amet doloremque
    officiis adipisci repellat molestias corrupti omnis ut, natus quisquam quibusdam quis veniam sequi. Exercitationem
    nisi nobis, minima soluta quisquam ea esse quos delectus, nemo unde culpa corporis ratione, quas sunt ullam dolores
    deleniti fuga? Quia, alias. Saepe vitae sit excepturi voluptas inventore voluptates voluptatibus natus, quas, minima
    dolorem possimus sunt repellendus accusantium doloremque? Quasi nisi illum reiciendis repellat voluptatibus, eum
    impedit in ut amet dolore accusamus perferendis ducimus, ipsa cum sit!
  </p>
</article>
